.widget {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 10px;
  height: 100%;
  width: 20%;

  .top {
    font-weight: bold;
    font-size: 14px;
    color: rgb(160, 160, 160);
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .counter {
      font-size: 28px;
      font-weight: 600;
    }
  }
}
